@charset "UTF-8" ;

body
{
  background: rgb(166,54,92);
  background: linear-gradient(90deg, rgba(166,54,92,1) 16%, rgba(255,0,159,1) 77%);
  color: aliceblue;
font-size: 12pt; 
font-family: Arial; 
text-align: center; 
}

h1
{
  color:red;
  font-size:16pt
  font-family: Arial, Helvetica, sans-serif; 
}

.img{
  width: 350px;
}

p {
  color: black;
}
.parim
{
color:red; 
font-size: 16pt; 
font-family: Arial, Helvetica, sans-serif; 

}
.parpar
{
   color: blue;
   
  font-size: 20pt;
  font-family:Verdana,Geneva, Tahoma, sans-serif;
}
